.font-typer {
  font-family: "Press Start 2P", sans-serif;
}

.-z-99 {
  z-index: -99;
}

.text-xxs {
  font-size: 0.5rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-neutral-900 text-green-500 text-lg font-typer text-center h-full relative;
}

h1 {
  @apply text-2xl leading-tight;
}

textarea {
  @apply bg-green-500 h-48 rounded text-white;
}

button {
  @apply bg-green-500 text-white px-6 py-4 mx-auto rounded uppercase;
}

a {
  @apply underline;
}

a:hover {
  @apply text-blue-800;
}

.grain-bg {
  height: 100vh;
}

.grain-bg:after {
  animation: grain 8s steps(10) infinite;
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/dark_stripes.png");
  content: "";
  height: 300%;
  left: -50%;
  opacity: 1;
  position: fixed;
  top: -100%;
  width: 300%;
  z-index: -9999;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(-5%, -10%);
  }

  20% {
    transform: translate(-15%, 5%);
  }

  30% {
    transform: translate(7%, -25%);
  }

  40% {
    transform: translate(-5%, 25%);
  }

  50% {
    transform: translate(-15%, 10%);
  }

  60% {
    transform: translate(15%, 0%);
  }

  70% {
    transform: translate(0%, 15%);
  }

  80% {
    transform: translate(3%, 35%);
  }

  90% {
    transform: translate(-10%, 10%);
  }
}
